---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Ingresar";
---
<BaseLayout pageTitle={pageTitle}>

    <div class="hero">
        <div class="hero-text">
            <h1>Bienvenido de vuelta!</h1>
            <p>Trabajos Que Ayudan</p>
        </div>
    </div>

    <section class="login">
        <h2>Iniciar sesion</h2>
    </section>
</BaseLayout>