---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---

<footer>
  <p>Contact</p>
  <p><a href="https://github.com/RaquelAbarca" target="_blank">GitHub -</a>
  <a href="https://www.linkedin.com/in/raquel-sof%C3%ADa-abarca-espinoza-269716225" target="_blank">LinkedIn -</a>
  <a href="mailto:raquel.abarca@datagrove.com target" target="_blank">Email -</a>
  <a href="https://wa.me/50686526792" target="_blank">Whatsapp</a></p>
  <p>&copy; 2023 Trabajos Que Ayudan. All rights reserved.</p>
</footer>
