---
const platform = "github";
const username = "withastro";
import Social from './Social.astro';
---

<style>
    footer {
      text-align: center;
      gap: 1rem;
      margin-top: 2rem;
      background-color: rgba(255, 255, 255, 0.904);
      padding: 5px;
      color: rgb(92, 84, 84);
    }
</style>

<footer>
  <p>Contact</p>
  <p><a href="https://github.com/RaquelAbarca" target="_blank">GitHub -</a>
  <a href="https://www.linkedin.com/in/raquel-sof%C3%ADa-abarca-espinoza-269716225" target="_blank">LinkedIn -</a>
  <a href="mailto:raquel.abarca@datagrove.com target" target="_blank">Email -</a>
  <a href="https://wa.me/50686526792" target="_blank">Whatsapp</a></p>
  <p id="copyright">Copyright &copy;</p>
</footer>
