---
import NavLines from './NavLines.astro';
import Navigation from './Navigation.astro';
const pageTitle = "My page";
---
<header>
    <h1 id="logo">{pageTitle}</h1>
    <nav>
        <NavLines />
        <Navigation />
    </nav>
</header>
