---
import NavigationCel from "./NavigationCel.astro";
---
<div class="containerLogoLines">
    <div class="navLines" id="navLines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <NavigationCel />
    </div>
</div>

